html {
    overflow: hidden;
}
body {
    margin: 5px;
}
h1 {
    font-size: 1.2em;
}
.notice {
    font-style: italic;
}
div#images {
    position: absolute;
    width: 15%;
}
div#images h2 {
    font-size: 1em;
    margin: 0;
}
.associated-images {
    margin-left: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
div#images li {
    list-style-type: none;
}
.current-slide {
    background-color: #ccf;
}
div#view {
    position: absolute;
    left: 16%;
    width: 58%;
    height: 98%;
    background-color: black;
    border: 1px solid #000;
    color: white;
}
div#view.fullpage {
    left: 0%;
    border: 0;
}
div#properties {
    position: absolute;
    left: 75%;
    width: 24.5%;
    height: 98%;
    overflow: auto;
}
div#properties-inner {
    display: inline-block;
}
div#properties dl {
    font-size: small;
    margin: 0;
}
div#properties dt {
    font-weight: bold;
    border-top: 1px solid #000;
    background-color: #eee;
}
div#properties dd {
    margin-left: 0;
}


/* added */
div.nav_zoom_info_area {
    position: absolute;
    top: 1000px;
    left: 4px;
    width: 145px;
    text-align: center;
}


#seadragon-viewer {
  width: 100%;
  height: 100%;
}

#overlay1 {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#overlay1,
#overlay1 a {
  color: #fff;
  text-shadow: 0 0 4px #000;
}

#overlay1.selected,
#overlay1.selected a {
  color: #f88;
}


rect {
    fill: rgba(70, 130, 180, 0.5);
    stroke: steelblue;
    stroke-width: 3px;
}


/* toolbar */
#temp_tool_bar {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}



/* navigation */
#temp12 {
    width: 10px;
    height: 10px;
    background-color: #f88;
}



/* draw */
.line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.svg_line:hover {
    stroke: #ec008c;
    opacity: 1;
}

circle {
    fill: lightgreen;
    stroke: green;
    stroke-width: 2px;
    fill-opacity: 0.5;
}
