<!doctype html>
<meta charset="utf-8">
<title>Slide Viewer</title>
<meta name="viewport" content="user-scalable=no">
<header>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</header>
<body>
    <div id="images">
        <h1>View</h1>
        <div class="current-slide">
            <a class="load-slide" href="#" data-url="{{ slide_url }}"
                    data-mpp="{{ slide_mpp }}">Slide</a>
        </div>
        <h2>Associated images</h2>
        {% if associated %}
            <ul class="associated-images">
                {% for name in associated|sort %}
                    <li><a class="load-slide" href="#"
                            data-url="{{ associated[name] }}">
                        {{ name }}
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <span class="associated-images notice">None</span>
        {% endif %}
    </div>
    <div id="view">
        <div id="overlay1" style="width:10px; height: 10px;">
            Click to Toggle Color
        </div>
    </div>
    <!-- <div id="properties">
        <h1>Slide properties</h1>
        {% if properties %}
            <div id="properties-inner">
                <dl>
                {% for name in properties %}
                    <dt>{{ name }}
                    <dd>{{ properties[name] }}
                {% endfor %}
                </dl>
            </div>
        {% else %}
            <span class="notice">None</span>
        {% endif %}
    </div> -->
    
    <!-- <div id="temp_tool_bar">
        <div id="temp_zoom_in" class="temp_button">
            <i class="fas fa-search-plus"></i>
        </div>
    </div> -->
    <!-- <select id="shape">
        <option value="mouse paint">Mouse paint</option>
        <option value="rect">Recangle</option>
        <option value="ellipse">Circle</option>
    </select> Color:
    <select id="color">
        <option value="#ff0099">Pink</option>
        <option value="#f3f313">Yellow</option>
        <option value="#0dd5fc">Blue</option>
        <option value="#83f52c">Green</option>
    </select> -->

    <div class="modal" >
        <div class="">

        </div>
    </div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://rawgit.com/fabiovalse/Hub/master/lib/openseadragon/openseadragon.min.js"></script>
<script type="text/javascript" src="static/js/openseadragon/openseadragon-scalebar.js"></script>
<script type="text/javascript" src="static/js/openseadragon/openseadragon-mousetracker.js"></script>
<script type="text/javascript" src="static/js/openseadragon/openseadragon-svg-overlay.js"></script>
<!-- <script src="//unpkg.com/openseadragon-annotations@1.0.5/dist/openseadragon-annotations.js"></script> -->
<script type="text/javascript" src="https://d3js.org/d3.v5.min.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var dzi_data = {{ dzi_data|default('{}')|safe }};
    var viewer = new OpenSeadragon({
        id: "view",
        // prefixUrl: "//static/images/",
        prefixUrl: "//openseadragon.github.io/openseadragon/images/",
        timeout: 120000,
        animationTime: 0.5,
        blendTime: 0.1,
        constrainDuringPan: true,
        maxZoomPixelRatio: 2.7, // zoom-point - 40
        minZoomLevel: 1,
        visibilityRatio: 1,
        zoomPerScroll: 2,
        showNavigator: true,
        // zoomInButton: "temp_zoom_in",
        wrapHorizontal: false,
        wrapVertical: false,
        navigatorPosition: "ABSOLUTE",
        navigatorTop:      "40px",
        navigatorLeft:     "4px",
        navigatorHeight:   "120px",
        navigatorWidth:    "145px",
        // Show rotation buttons
        showRotationControl: true,
        showFlipControl: true,
        // Enable touch rotation on tactile devices
        gestureSettingsTouch: {
            pinchRotate: true
        },

        gestureSettingsMouse: {
            clickToZoom: false,
            dblClickToZoom: true
        },

        overlays: [
            {
                id: 'overlay1',
                x: 0.012,
                y: 0.222,
                className: 'highlight'
            }
        ],

        addButton: function(button) {
            this.buttons.push(button);
            this.element.appendChild(button.element);
        }
    });
    viewer.scalebar({
        minWidth: "75px",
        location: OpenSeadragon.ScalebarLocation.BOTTOM_LEFT,
        xOffset: 10,
        yOffset: 10,
        stayInsideImage: true,
        color: "rgb(150, 150, 150)",
        fontColor: "rgb(100, 100, 100)",
        backgroundColor: "rgba(255, 255, 255, 0.5)",
        fontSize: "small",
        barThickness: 3
    });

    // viewer.initializeAnnotations(); // annotations library init

    var svg_overlay = viewer.svgOverlay();  // svg
    var svg_node = svg_overlay.node();  // svg > g
    var d3_svg = d3.select("svg");

    // viewer.setMouseNavEnabled(true);
  

    $("#overlay1").click(function (e) {
        alert("test");
        var $target = $(e.originalEvent.target);
        if ($target.is('p')) {
            if ($target.attr('target') === '_blank') {
                    
            } else {
                    
            }
        } else {
            $('#overlay1').toggleClass('selected');
        }        
    });
    
    let customDrawFreeShapeButton = new OpenSeadragon.Button({
        tooltip: 'Draw FreeShape Button',
        srcRest: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_rest.png',
        srcGroup: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_grouphover.png',
        srcHover: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_hover.png',
        srcDown: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_pressed.png',
        onClick: customFreeShapeButtonClicked    // function
    });
    addCustomButton(viewer, customDrawFreeShapeButton);

    let customDrawCircleButton = new OpenSeadragon.Button({
        tooltip: 'Draw Circle Button',
        srcRest: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_rest.png',
        srcGroup: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_grouphover.png',
        srcHover: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_hover.png',
        srcDown: 'https://raw.githubusercontent.com/openseadragon/openseadragon/master/images/button_pressed.png',
        onClick: customButtonCircleClicked    // function
    });
    addCustomButton(viewer, customDrawCircleButton);
      
    var custom_free_shape_button_checker = false;
    
    var svg_tracker = new OpenSeadragon.MouseTracker({
        element: viewer.canvas,
        clickHandler: mouseClickHandle,
        dragHandler: mouseDragHandle,
        dragEndHandler: mouseDragEndHandle,
        moveHandler: mouseMoveHandle,
        scrollHandler: mouseScrollHandle,
        keyDownHandler: keyDownhandle
    }).setTracking(true);

    viewer.addHandler("open", function() {
        // To improve load times, ignore the lowest-resolution Deep Zoom
        // levels.  This is a hack: we can't configure the minLevel via
        // OpenSeadragon configuration options when the viewer is created
        // from DZI XML.
        viewer.source.minLevel = 8;
        // openseadragon-canvas
        svg_overlay._svg.id = 'wonSvg'; // svg_overlay._svg -> svg object
    });


    viewer.addHandler('canvas-scroll', function(event) {
    });
    viewer.addHandler('canvas-click', function(event) {
    });
    viewer.addHandler('canvas-drag', function(event) {
    });
    viewer.addHandler('canvas-key', function(event) {
        console.log(event);
    });

    // draw event variables
    var custom_circle_button_checker = false;
    var button_toggle_checker = false;
    var anno_focus_checker = false;

    var linearr = [];
    var points_cnt;
    var lineArea;
    var textArea;
    var line;

    var freehand_dragged_point = [];
    var rightMostX, rightMostY;
    var pointRadius = 0.009;

    var nameCnt = 0;
    var id_name = "freeDraw_" + nameCnt++;

    // drawed area variables
    var circleArea;
    var current_g;

    var focus_anno;
    var current_input_key_code;

    function customFreeShapeButtonClicked() {
        if(!custom_free_shape_button_checker) {
            if(!button_toggle_checker) {

            }
            // freehand draw event 영역
            let new_g = d3.select(svg_node).append("g").attr("id", "added_g");
            // let new_g = d3.select(svg_node);
            lineArea = new_g.append("path")
                    .attr("fill", "none")
                    .attr("stroke", "blue")
                    .attr("stroke-width", 3)
                    .attr("vector-effect", "non-scaling-stroke");

            // freehand draw event txt 영역
            // textArea = d3.select("g").append("div")
            //         .attr("")
            //         .attr("");

            // circleArea = new_g.append("circle");

            current_g = new_g;
            points_cnt = 0; // reset cnt
            custom_free_shape_button_checker = true;
            viewer.setMouseNavEnabled(false);
        }
        
    }


    function customButtonCircleClicked() {
        custom_circle_button_checker = true;
        viewer.setMouseNavEnabled(false);
    }


    viewer.addHandler('canvas-nonprimary-press', function(event) {
        const webPoint = event.position;
		const viewportPoint = viewer.viewport.pointFromPixel(webPoint);

		displayPinIcon(viewportPoint);
    });
    
    // mouseTracker event
    function mouseClickHandle(e) {
        // circle 클릭시, drag transform event 필요
        if(custom_free_shape_button_checker) {
            // custom_free_shape_button_checker = false;
        } else if(custom_circle_button_checker) {
            let points = e.position;
        } else {
            
        }

        if(e.quick) {   // 한번 클릭 시(not a drag)
            let target = e.originalEvent.target.nodeName;
            let clicked_elem = e.originalEvent.path[1]; // clicked g tag
            
            if(target == "svg") {
                // 클릭한 element가 annotation이 아닐경우 edge points 숨김
                $(clicked_elem).find("circle").addClass("hide");
                focus_anno = null;
                anno_focus_checker = false;
            } else if(target == "path" && anno_focus_checker == false) {
                // 클릭한 element가 annotation일 경우 edge points 노출
                $(clicked_elem).find("circle").removeClass("hide");
                focus_anno = clicked_elem;
                anno_focus_checker = true;
            }
        }
        
        
    }


    // need to optimize
    var renderPath = d3.line()
        .x(function (d) { return d[0]; })
        .y(function (d) { return d[1]; })


    function mouseDragHandle(e) {
        let points = viewer.viewport.pointFromPixel(e.position);
        let viewportZoom = viewer.viewport.getZoom(true);

        if(custom_free_shape_button_checker) {
            // 그리는 중 cancel
            if(current_input_key_code == 27) {
                console.log("called");
                custom_free_shape_button_checker = false;
                lineArea = null;
                linearr = [];   // reset
            }
            // have to loose coordinates who pushed at arr
            // 단순히 movemove에 대한 cnt가 아닌 mousedrag time등을 이용해야
            if((points_cnt % 10) == 0) {
                // let last_val = linearr[linearr.length-1];
                // console.log("last - "+last_val);
                // console.log("current - "+points.x+" , "+points.y);
                if(points_cnt == 0) {
                    rightMostX = points.x;
                }
                if(rightMostX < points.x) {
                    rightMostX = points.x;
                    rightMostY = points.y;
                }

                linearr.push([points.x, points.y]);
                lineArea.attr("d", renderPath(linearr));

                current_g.append("circle")
                    .attr("cx", points.x)
                    .attr("cy", points.y)
                    .attr("r", pointRadius / viewportZoom)
                    .attr("start-point", true)
                    .attr("class", "hide")
                    .classed("handle", true)
                    .style("cursor", "pointer")
                    .attr("vector-effect", "non-scaling-stroke");
                
                // console.log("rightMostX: "+rightMostX);

            } else {
                
            }
            
            points_cnt++;
            
        } else if(custom_circle_button_checker) {

        } else {
            
        }

    }

    function mouseDragEndHandle(e) {
        // drag-end 시, 해당 area에 text or div 추가
        if(custom_free_shape_button_checker) {
            console.log(linearr.length);
            // free draw closepath
            lineArea.attr("d", lineArea.attr("d") + "Z");
            lineArea.attr("id", id_name);
            lineArea.attr("class", "svg_line");

            // 해당 annotation
            current_g.append("text")
                    .attr("x", rightMostX)
                    .attr("y", rightMostY)
                    .attr("font-size", 0.01)
                    .attr("fill", "red")
                    .style("cursor", "default")
                    .attr("vector-effect", "non-scaling-stroke")
                    .text(id_name + "_text");

            // let temp = [];
            // for(let i=0; i<linearr.length; i++) {
            //     if((i % 2) == 0) {
            //         temp.push(linearr[i]);
            //     }
            // }
            // console.log(temp);

            custom_free_shape_button_checker = false;
            linearr = [];   // reset
            rightMostX = 0;
            rightMostY = 0;

            d3_svg.selectAll('circle').call(drag);
        } else if(custom_circle_button_checker) {
            custom_circle_button_checker = false;
        } else {

        }

        console.log("drag end");
        viewer.setMouseNavEnabled(true);
    }

    function mouseMoveHandle(e) {
        
    }

    function mouseScrollHandle(e) {

    }

    function keyDownhandle(e) {
        current_input_key_code = e.keyCode;
        if(e.keyCode == 46) {   // delete
            $(focus_anno).remove();
        }
    }

    // edge point move event
    let drag = d3.drag()
        .on('start', dragstarted)
        .on('drag', dragged)
        .on('end', dragended);

    function dragstarted(d) {
        console.log(d);
        d3.select(this).raise().classed('active', true);
    }

    function dragged(d) {
        console.log(d);
        d[0] = x.invert(d3.event.x);
        d[1] = y.invert(d3.event.y);
        d3.select(this)
            .attr('cx', x(d[0]))
            .attr('cy', y(d[1]))
        focus.select('path').attr('d', line);
    }

    function dragended(d) {
        console.log(d);
        d3.select(this).classed('active', false);
    }
    
    d3.select('circle').each(function () {
        return svg_overlay.onClick(this, function() {
            return console.log('click', arguments);
        });
    });

    $(".svg_line").click(function(e) {
        console.log(e);
    });

    function tempTest() {
        let tiledImage = viewer.world.getItemAt(0);
        console.log(tiledImage);
        // tiledImage.setCroppingPolygons(freehand_dragged_point);
        // viewer.forceRedraw();
    }

    function open_slide(url, mpp) {
        let tile_source;
        if (dzi_data[url]) {
            // DZI XML provided as template argument (deepzoom_tile.py)
            tile_source = new OpenSeadragon.DziTileSource(
                    OpenSeadragon.DziTileSource.prototype.configure(
                    OpenSeadragon.parseXml(dzi_data[url]), url));
        } else {
            // DZI XML fetched from server (deepzoom_server.py)
            tile_source = url;
        }
        viewer.open(tile_source);
        viewer.scalebar({
            pixelsPerMeter: mpp ? (1e6 / mpp) : 0,
        });
    }

    open_slide("{{ slide_url }}", parseFloat('{{ slide_mpp }}'));
    $(".load-slide").click(function(ev) {
        $(".current-slide").removeClass("current-slide");
        $(this).parent().addClass("current-slide");
        open_slide($(this).attr('data-url'),
                parseFloat($(this).attr('data-mpp')));
        ev.preventDefault();
    });
    
});

</script>